@import 'src/styles/_variables.module.scss';
@import 'src/styles/_colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  gap: $space-md;
  width: 100%;
  padding-top: $space-xxl;
  margin-bottom: $space-3xl;
  background: $gradient1;
  // background: radial-gradient(circle at 70% center, transparent 30%, rgb(6, 5, 5) 60%);
  // position: relative;
  .searchContainer {
    gap: $space-lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .title {
    color: $white-color;
    font-size: $h1-font-size;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: $space-md;
  }
  .title2 {
    color: $white-color;
    font-size: $h2-font-size;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: $space-md;
  }

  .image {
    // position: relative;
    object-fit: cover;
    filter: blur(30px);
  }
  .image2 {
    width: 100%;
    object-fit: contain;
    position: relative;
  }
}

// @media (min-width: $breakpoint-xl) {
//   .container {
//     height: 32rem;
//     .searchContainer {
//       .title,
//       .title2 {
//         font-size: calc(1.475rem + 2.7vw);
//       }
//     }
//   }
// }
