@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $space-md;
  // remove all href styles
  text-decoration: none !important;
  color: $black-color;

  .image {
    width: 50%;
    max-width: 250px;
    height: auto;
  }

  .MovieInfos {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: $space-lg;

    .mainTitle {
      font-size: $font-size-xxl;
      font-weight: 800;
    }

    .title {
      font-size: $font-size-lg;
      font-weight: 800;
    }

    .text {
      font-size: $font-size-md;
      font-weight: 800;
    }

    span {
      color: $grey-text-color;
      font-weight: bold;
    }
  }

  .rating {
    display: flex;
  }
}

@media (min-width: $breakpoint-sm) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $space-xl;
    // remove all href styles
    text-decoration: none !important;
    color: $black-color;
    // gap: 5rem;

    .MovieInfos {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      gap: 1rem;
      width: 100%;

      .mainTitle {
        font-size: $font-size-xxl;
        font-weight: 800;
      }

      .title {
        font-size: $font-size-lg;
        font-weight: 800;
      }

      .text {
        font-size: $font-size-md;
        font-weight: 800;
      }

      span {
        color: $grey-text-color;
        font-weight: bold;
      }
    }

    .rating {
      display: flex;
    }
  }
}
