@import 'src/styles/_variables.module.scss';
@import 'src/styles/_colors.module.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-md;
  background: $white-color;
  width: 50%;
  padding: $space-lg $space-xxl;
  border-radius: 10rem;
  max-width: $breakpoint-xl;
  .searchButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    padding: $space-md;
    background-color: $primary-color;
    color: $white-color;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .container {
    width: 90%;
    padding: $space-md;
    border-radius: $space-md;
  }
}
