@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $space-xxl;
}
