@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  // padding: $space-3xl;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .submitButtonDisabled {
    width: 100%;
    // align-self: flex-end;
    padding: $space-lg;
    background: $primary-color;
    color: white;
    border-radius: 0.3rem;
    opacity: 50%;
    background: white;
  }

  .submitButtonEnabled {
    width: 100%;
    // align-self: flex-end;
    padding: $space-lg;
    background: $primary-color;
    color: white;
    border-radius: 0.3rem;
    // font-size: xx;
  }

  .screen {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
