@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: $space-xxl;
  height: 95vh;
  width: 100%;
  padding: $space-3xl;
  .title {
    width: 100%;
    font-size: $h1-font-size;
    background: $gradient1;
    color: white;
    padding: $space-lg;
    border-radius: 1rem;
  }
}
