@import 'src/styles/_variables.module.scss';
@import 'src/styles/_colors.module.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $space-md;
  border-radius: 1rem;
  cursor: pointer;
  // remove all href styles
  text-decoration: none !important;
  color: $black-color;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  .image {
    border-radius: 0.5rem;
  }
  .titleAndPriceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .text {
      font-size: $font-size-xl;
      font-weight: 800;
    }
  }
  .job {
    font-size: $font-size-md;
    align-self: flex-start;
    color: $grey-text-color;
  }
  .rating {
    align-self: flex-start;
  }
}
