@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-xl;
  gap: 5rem;
  .submitButtonDisabled {
    width: 100%;
    // align-self: flex-end;
    padding: $space-lg;
    background: $primary-color;
    color: white;
    border-radius: 0.3rem;
    opacity: 50%;
    background: white;
  }
  .submitButtonEnabled {
    width: 100%;
    // align-self: flex-end;
    padding: $space-lg;
    background: $primary-color;
    color: white;
    border-radius: 0.3rem;
    // font-size: xx;
  }
}
