@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-3xl;
  gap: 5rem;
  .seatingConfirmationSection {
    width: 100%;
    text-align: center;
    padding: $space-3xl;
    background: $gold-color;
    border-radius: 1rem;
    font-size: xx-large;
  }
}
