@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  display: flex;
  gap: $space-sm;
  font-size: $font-size-xs;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  padding: $space-sm;
  border-radius: 0.5rem;
  color: $white-color;
  background: $secondary-color;
  cursor: pointer;
  transition: 0.2s;

  .language {
    font-weight: bolder;
    font-size: $font-size-sm;
    color: $white-color;
  }

  .projectionFormatName {
    font-weight: bolder;
    font-size: $font-size-sm;
    color: $white-color;
  }

  .beginAt {
    font-size: $font-size-xl;
    //padding-inline: $space-lg;
    color: $white-color;
  }

  .endAt {
    color: $white-color;
  }

  .date {
    color: $white-color;
  }

  .image {
    border-radius: 0.5rem;
  }

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    background: $secondary-color;
  }

  .tiny {
    font-size: 0.5rem;
  }

  .hidden {
    display: none;
  }

  .room {
    color: $white-color;
  }

  .pmr {
    color: $white-color;
  }
}
