@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  display: flex;
  height: 100px;
  width: 100px;
  font-size: $font-size-xs;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $space-md;
  border-radius: 1rem;
  // remove all href styles
  text-decoration: none !important;
  color: $white-color;
  background: $secondary-color;
  cursor: pointer;
  transition: 0.2s;
  .image {
    border-radius: 0.5rem;
  }

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  }
  .tiny {
    font-size: 0.5rem;
  }

  .hidden {
    display: none;
  }
}
