@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: $space-sm;
  .title {
    width: 100%;
    font-size: $h1-font-size;
    background: $gradient1;
    color: white;
    padding: $space-lg;
    border-radius: 1rem;
  }
  .movieList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
    padding: 5rem;
    justify-content: center;
  }
}

@media (min-width: $breakpoint-lg) {
  .page {
    padding: $space-3xl;
  }
}
