@import 'src/styles/_variables.module.scss';
@import 'src/styles/_colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: $space-xl;
  .buttonLink {
    position: relative;
    font-size: $font-size-xs;
    top: -15px;
    color: $secondary-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
