@import 'src/styles/_variables.module.scss';
@import 'src/styles/_colors.module.scss';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: $space-sm;
  background: $gradient1;

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 375px;
  }
}

.title {
  font-size: $font-size-xxl;
  font-weight: bold;
  margin-bottom: 2rem;
  align-self: flex-start;
  max-width: $breakpoint-md;
}

@media (min-width: $breakpoint-sm) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: $space-xxl;

  }
  .title {
    font-size: $font-size-xl;
  }
}
