@import 'src/styles/_variables.module.scss';
@import 'src/styles/_colors.module.scss';

.formContainer {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  padding: $space-lg;
  margin: $space-xl 0;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
}
