@import '/src/styles/_variables.module.scss';
@import '/src/styles/_colors.module.scss';

.container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: $space-lg;
  padding: $space-3xl;
  .title {
    font-size: $h1-font-size;
  }
}
