@import 'src/styles/_colors.module.scss';
@import 'src/styles/_variables.module.scss';

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $space-md;
  width: 100%;

  .title {
    width: 100%;
    font-size: $h1-font-size;
    background: $gradient1;
    color: white;
    padding: $space-lg;
    border-radius: 1rem;
  }
}

@media (min-width: $breakpoint-lg) {
  .page {
    padding: $space-3xl;
  }
}
