@import 'src/styles/_colors.module.scss';
@import 'src/styles/_variables.module.scss';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: $space-xxl;
  .title {
    font-size: $font-size-xxl;
    font-weight: 700;
  }
  .link {
    font-size: $font-size-xl;
    color: green;
    // font-weight: 700;
  }
}

@media (max-width: $breakpoint-lg) {
  .container {
    padding: $space-xxl $space-xl;
  }
}
