@import 'src/styles/_colors.module.scss';
@import 'src/styles/_variables.module.scss';

.container {
  .dialogTitle {
    padding-bottom: 0;
  }

  .preferences {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .preferenceItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
    align-items: start;
    border-radius: 8px h4 {
      grid-column: 1;
    }

    input {
      grid-column: 1;
      grid-row: 3;
      align-self: center;
      transform: scale(1.5);
      margin: 1rem;
      accent-color: $primary-color;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;

    @media (max-width: 480px) {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  .detailsButton {
    margin-right: auto;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    .preferenceItem {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      align-items: start;
      padding: 1rem;
      border-radius: 8px h4 {
        grid-column: 1;
      }

      input {
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: center;
        transform: scale(1.5);
        margin: 1rem;
        accent-color: $primary-color;
      }
    }
  }
}
